<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jorge.entregasadomicilio">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:hardwareAccelerated="false"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".components.Activity_Insertar_Jefe"
            android:label="Insertar Jefe..."
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".components.Activity_Entregas"
            android:label="@string/title_activity_entregas"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".components.Activity_Insertar_Entrega"
            android:label="@string/title_activity__insertar__entrega"
            android:parentActivityName=".components.Activity_Entregas"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".components.Activity_Editar_Jefe"
            android:parentActivityName=".components.Activity_Entregas"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".components.Activity_Entrega_Jefe"
            android:label="@string/title_activity__entrega"
            android:parentActivityName=".components.Activity_Entregas"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".components.Activity_Reporte_Entrega_Dinero"
            android:label="@string/title_activity__reporte__entrega__dinero"
            android:parentActivityName=".components.Activity_Entregas"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".components.Activity_Mapa_Direccion" />
        <activity
            android:name=".components.Activity_Detalles"
            android:label="@string/title_activity_details_"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".components.Activity_Estadisticas"
            android:screenOrientation="portrait" />
        <activity
            android:name=".components.Activity_Dias_Trabajo"
            android:screenOrientation="portrait" />
        <activity android:name=".components.Activity_Todas_Entregas"></activity>
    </application>

</manifest>